.moviesByGroup {

    .genre-type {
        padding: 5px;
        border: 1px solid;
        cursor: pointer;
        border-radius: 3px;
        background-color: #e0dcdc30;
        margin-bottom: 10px;
    }
}