<div class="modal-template modal" #modalReport [ngStyle]="{ 'display': display }">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Movie Report</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="mb-2">
          <button class="btn btn-tab-style" [ngClass]="{'btn-success': 'genre' === reportType}"
            (click)="showGenreReport()">By
            Genre</button>
          <button class="btn btn-tab-style" [ngClass]="{'btn-success': 'year' === reportType}"
            (click)="showYearReport()">By
            Year</button>
        </div>
        <div class="modal-body-overflow">

          <movies-by-group [moviesByGroup]="moviesByGroup"></movies-by-group>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>